.nav-custom {
    width: 100vw;
    background-color: $purpleMain;
    padding-right: 7px;

    .brand-text{
        font-family: $fontMain;
        display: inline-block;
        padding-top: 12px;
        padding-left: 15px;
    }

    a{
        color: $brightPink;
        font-family: $fontMain;
    }

    a:hover{
        background-image: linear-gradient(
        to right,
        $brightPink,
        $lightPink 50%,
        $lightPink 50%
        );
        background-size: 200% 100%;
        background-position: -100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
        }

}