
/* ESTILOS PARA SECCION TECNOLOGIAS */

h3 {
    font-family: 'Roboto', sans-serif;  
    color: #711A75;
    font-weight: 300;
    text-align: center;
    font-size: 2rem;
    padding-top: 35px;
    padding-bottom: 15px;
}


.card-container{
    padding-bottom: 30px;
    text-align: center;
}

.card-container p{
    font-weight: 300;
    font-size: 1.5em;
    padding-bottom: 15px;
}

.card-custom {
    background-color: transparent;
    border: none;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-custom img{
    height: 150px;
    width: 150px;
    padding-bottom: 15px;
}

.card-title-custom{
    padding-bottom: 15px;
}

/* ESTILOS ESPECIFICOS SERVICIOS Y PORTFOLIO, FONDOS*/

.main-container-custom{
    background: linear-gradient(-45deg, #23a6d5, #23d5ab, #23a6d5, #23d5ab);
	background-size: 400% 400%;
}
.services-text{
    text-align: center;
    font-weight: 300;
    padding-bottom: 25px;
}

.text-custom {
    font-weight: 300;
    text-align: center;
    padding-bottom: 15px;
}


/* ESTILOS ESPECIFICOS CONTACT FORM */
.contact-header{
    text-align: center;
}

.contact-header p{
    font-weight: 300;
}

.submit-custom{
    color: #F10086;
    background-color: #711A75;
}