/* ESTILOS GENERALES, NAVBAR Y FOOTER */

.brand-text{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding-top: 12px;
    padding-left: 15px;
}

.no-margin{
    margin: 0;
    background-color: #711A75;
}

.nav-custom{
    width: 100vw;
    background-color: #711A75;
    padding-right: 7px;

}

.nav-custom a{
    color: #F10086;
    font-family: 'Roboto', sans-serif;
}

a:hover{
    background-image: linear-gradient(
    to right,
    #F10086,
    #F582A7 50%,
    #F582A7 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.foot-custom{
    width: 100vw;
    background-color: #711A75;
}

.btn-custom{
    /* background-color: #F10086; */
    border-color: #F10086;
    color: #F10086;
}

.btn-custom:hover{
    border-color: #F582A7;
    color: #F582A7;
}   

.copyright-custom p{
    font-family: 'Roboto', sans-serif;
    color: #F10086;
}

/* ESTILOS PARA INDEX */

.main-container{
    background: linear-gradient(-45deg, #F582A7, #eb5c93, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    font-family: 'Roboto', sans-serif;  
    color: #711A75;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.index-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}   
.home-image-container img{
    height: 400;
    width: 375px;   
    margin-top: 50px;
    border-radius: 120px 70px 120px 75px;
    box-shadow: -22px -13px 29px -3px #711A75;
}

.home-intro{
    display: flex;      
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.home-intro h1{
    padding-top: 75px;
    font-family: 'Press Start 2P', cursive;
}
.home-intro p{
    font-weight: 300;   
    padding: 40px 0px 40px 0px
}

.about-me{
    font-family: 'Roboto', sans-serif;  
    font-weight: 300;
    text-align: center;
}
.about-me h1{
    font-family: 'Press Start 2P', cursive;
    padding-bottom: 20px;
    font-size: 25px;
}

.about-me article{
    padding-top: 15px;
    padding-bottom: 35px;
}

.carousel-item{
    padding-bottom: 100px;
}
.carousel-item img{
    height: 850px;
    border-radius: 20px;
}

/* ESTILOS PARA SECCION TECNOLOGIAS */

h3 {
    font-family: 'Roboto', sans-serif;  
    color: #711A75;
    font-weight: 300;
    text-align: center;
    font-size: 2rem;
    padding-top: 35px;
    padding-bottom: 15px;
}


.card-container{
    padding-bottom: 30px;
    text-align: center;
}

.card-container p{
    font-weight: 300;
    font-size: 1.5em;
    padding-bottom: 15px;
}

.card-custom {
    background-color: transparent;
    border: none;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-custom img{
    height: 150px;
    width: 150px;
    padding-bottom: 15px;
}

.card-title-custom{
    padding-bottom: 15px;
}

/* ESTILOS ESPECIFICOS SERVICIOS Y PORTFOLIO, FONDOS*/

.main-container-custom{
    background: linear-gradient(-45deg, #23a6d5, #23d5ab, #23a6d5, #23d5ab);
	background-size: 400% 400%;
}
.services-text{
    text-align: center;
    font-weight: 300;
    padding-bottom: 25px;
}

.text-custom {
    font-weight: 300;
    text-align: center;
    padding-bottom: 15px;
}


/* ESTILOS ESPECIFICOS CONTACT FORM */
.contact-header{
    text-align: center;
}

.contact-header p{
    font-weight: 300;
}

.submit-custom{
    color: #F10086;
    background-color: #711A75;
}